doctype html
html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description" content="")
        meta(name="author" content="")
        link(rel="stylesheet" href="css/tailwind/tailwind-theme.css")
        link(rel="icon" href="favicon.ico")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon.png")
        script(src="js/main.js")
    body.bg-body.text-body.font-body
        .container.mx-auto.px-4


            nav(class="flex flex-wrap items-center justify-between p-4")
                div(class="flex flex-shrink-0 mr-6")
                    a(href="#" class="text-xl text-indigo-500 font-semibold" ) Dunder Mifflin
                div(class="block lg:hidden")
                    <button class="navbar-burger flex items-center py-2 px-3 text-indigo-500 rounded border border-indigo-500"><svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path></svg></button>
                div(class="navbar-menu hidden lg:flex lg:flex-grow lg:items-center w-full lg:w-auto")
                    div(class="lg:ml-auto")
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Products
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Team
                        a(href="#" class="block lg:inline-block mt-4 lg:mt-0 mr-10 text-blue-900 hover:text-blue-700" ) Customers
                    div
                        a(href="#" class="inline-block py-3 px-5 mr-4 leading-none text-center text-blue-700 bg-indigo-100 hover:bg-indigo-200 rounded shadow" ) Sign in
                        a(href="#" class="inline-block py-3 px-6 mt-4 lg:mt-0 leading-none text-white bg-indigo-500 hover:bg-indigo-600 rounded shadow" ) Sign up

            section(class="py-8 px-4")
                div(class="flex flex-wrap -mx-4")
                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="flex justify-between items-end mb-2")
                                h3(class="text-lg font-heading font-semibold" ) Projects
                                span(class="text-5xl leading-none text-blue-700" ) 2
                            div(class="w-full h-4 bg-gray-300 rounded")
                                div(class="h-full bg-blue-500" style="width: 62%;") 
                    
                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="flex justify-between items-end mb-2")
                                h3(class="text-lg font-heading font-semibold" ) Clients
                                span(class="text-5xl leading-none text-red-500" ) 117
                            div(class="w-full h-4 bg-gray-300 rounded")
                                div(class="h-full bg-red-500" style="width: 62%;") 

                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="flex justify-between items-end mb-2")
                                h3(class="text-lg font-heading font-semibold" ) Invoices
                                span(class="text-5xl leading-none text-purple-500" ) 12
                            div(class="w-full h-4 bg-gray-300 rounded")
                                div(class="h-full bg-purple-500" style="width: 62%;")

                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="flex justify-between items-end mb-2")
                                h3(class="text-lg font-heading font-semibold" ) Appointments
                                span(class="text-5xl leading-none text-green-500" ) 14
                            div(class="w-full h-4 bg-gray-300 rounded") 
                                div(class="h-full bg-green-500" style="width: 62%;")


            section(class="py-8 px-4")
                h2(class="text-3xl mb-2 font-heading font-semibold" ) Support ticket list
                p(class="mb-4" ) List of tickets opend by customers

                div(class="flex flex-wrap -mx-4 mb-8")
                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="text-center p-4 mb-2 bg-blue-500 text-white rounded")
                                h3(class="text-3xl leading-tight font-heading font-semibold" ) 448
                                span(class="leading-none" ) Total Tickets

                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="text-center p-4 mb-2 bg-red-500 text-white rounded")
                                h3(class="text-3xl leading-tight font-heading font-semibold" ) 81
                                span(class="leading-none" ) Responded

                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="text-center p-4 mb-2 bg-green-500 text-white rounded")
                                h3(class="text-3xl leading-tight font-heading font-semibold" ) 208
                                span(class="leading-none" ) Resolved
                    
                    div(class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0")
                        div(class="h-full")
                            div(class="text-center p-4 mb-2 bg-gray-800 text-white rounded")
                                h3(class="text-3xl leading-tight font-heading font-semibold" ) 159
                                span(class="leading-none" ) Peding

                table(class="w-full table-auto")
                    thead
                        tr
                            th(class="border-t px-2 py-2" scope="col" ) ID #
                            th(class="border-t px-2 py-2" scope="col" ) Opened By
                            th(class="border-t px-2 py-2" scope="col" ) Cust. Email
                            th(class="border-t px-2 py-2" scope="col" ) Subject
                            th(class="text-center border-t px-2 py-2" scope="col" ) Status
                            th(class="text-center border-t px-2 py-2" scope="col" ) Assign to
                            th(class="text-center border-t px-2 py-2" scope="col" ) Date
                            th(class="text-center border-t px-2 py-2" scope="col" ) Action
                    tbody
                        tr
                            td(class="border-t px-2 py-2") 348
                            td(class="border-t px-2 py-2") 
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Lauren North
                            td(class="border-t px-2 py-2") lauren@gmail.com
                            td(class="border-t px-2 py-2") Where are my files?
                            td(class="text-center border-t px-2 py-2")
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-yellow-500") New
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 18-11-2018
                            td(class="text-center border-t px-2 py-2")
                                a(href="#" class="text-blue-700 hover:underline") edit
                        
                        tr
                            td(class="border-t px-2 py-2") 349
                            td(class="border-t px-2 py-2")
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Kian Gray
                            td(class="border-t px-2 py-2") kian.gray@gmail.com
                            td(class="border-t px-2 py-2") I can't send file to my friend
                            td(class="text-center border-t px-2 py-2") 
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500") Resolved
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 20-11-2018
                            td(class="text-center border-t px-2 py-2") 
                                a(href="#" class="text-blue-700 hover:underline") edit
                        
                        tr
                            td(class="border-t px-2 py-2") 350
                            td(class="border-t px-2 py-2")
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Mollie Davey
                            td(class="border-t px-2 py-2") mollie@davey.com
                            td(class="border-t px-2 py-2") Compressed files have low quality
                            td(class="text-center border-t px-2 py-2") 
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500") Resolved
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 21-11-2018
                            td(class="text-center border-t px-2 py-2") 
                                a(href="#" class="text-blue-700 hover:underline") edit
                        
                        tr
                            td(class="border-t px-2 py-2") 351
                            td(class="border-t px-2 py-2")
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Josh Douglas
                            td(class="border-t px-2 py-2") j.douglas@hotmail.com
                            td(class="border-t px-2 py-2") My phone won't turn on
                            td(class="text-center border-t px-2 py-2")
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-gray-800") Pending
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 22-11-2018
                            td(class="text-center border-t px-2 py-2")
                                a(href="#" class="text-blue-700 hover:underline") edit
                        
                        tr
                            td(class="border-t px-2 py-2") 352
                            td(class="border-t px-2 py-2")
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Jodie Field
                            td(class="border-t px-2 py-2") jodie@field.com
                            td(class="border-t px-2 py-2") How to change e-mail??
                            td(class="text-center border-t px-2 py-2")
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-yellow-500") New
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 22-11-2018
                            td(class="text-center border-t px-2 py-2")
                                a(href="#" class="text-blue-700 hover:underline") edit
                        
                        tr
                            td(class="border-t px-2 py-2") 353
                            td(class="border-t px-2 py-2")
                                a(href="#") #[img(src="placeholders/pictures/male_avatar.svg" alt="" height="40" width="40" class="inline-block mr-2 rounded-full")] Taylor Gill
                            td(class="border-t px-2 py-2") taylor.gill777@hotmail.com
                            td(class="border-t px-2 py-2") My files are corrupted
                            td(class="text-center border-t px-2 py-2")
                                span(class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500") Resolved
                            td(class="text-center border-t px-2 py-2") Kelly Kapoor
                            td(class="text-center border-t px-2 py-2") 23-11-2018
                            td(class="text-center border-t px-2 py-2")
                                a(href="#" class="text-blue-700 hover:underline") edit

            footer
                div(class="flex flex-wrap items-center py-4 px-4 border-b")
                    div(class="w-full lg:w-1/5 text-center lg:text-left")
                        a(class="text-xl text-indigo-500 font-semibold" href="#" ) Dunder Mifflin

                    div(class="w-full lg:w-3/5 mt-4 lg:mt-0 text-center")
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Products
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Team
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Customers
                        a(class="inline-block mx-4 mb-4 lg:mb-0 text-blue-900 hover:text-blue-700" href="#" ) Blog

                    div(class="flex justify-center lg:justify-end w-full lg:w-1/5 my-2 lg:my-0")
                        img(src="placeholders/icons/message.svg" alt="" class="w-6 h-6" )
                        img(src="placeholders/icons/share.svg" alt="" class="w-6 h-6 mx-8" )
                        img(src="placeholders/icons/star.svg" alt="" class="w-6 h-6" )

                div(class="py-4 text-center")
                    span(class="block md:inline-block mb-4 md:mb-0 mx-3" ) &copy; 2019 Dunder Mifflin
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700" href="#" ) Privacy Policy
                    a(class="inline-block mx-4 text-blue-900 hover:text-blue-700" href="#" ) Term of Service